:host {
  display: block;
  margin-top: 8px;
}

.info-text {
  text-align: center;
  margin-top: 10px;
}

.post-image {
  width: 100%;
}


.post-image img {
  width: 100%;
  box-shadow: 1px 1px;
}

mat-paginator {
  margin-top: 1rem;
}
